<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Nueva Transacción</title>
</head>
<body>
    <h1>Crear Nueva Transacción</h1>
    <form action="/transactions/new" method="post">
        <label for="sender">De:</label>
        <input type="text" id="sender" name="sender"><br><br>
        <label for="recipient">A:</label>
        <input type="text" id="recipient" name="recipient"><br><br>
        <label for="amount">Cantidad:</label>
        <input type="number" id="amount" name="amount"><br><br>
        <input type="submit" value="Crear Transacción">
    </form>
    <a href="/">Volver al inicio</a>
</body>
</html>
